
.top-section {
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h5,
h1,
p {
    margin-top: 0;
}
p {
    font-size: .7rem;
}
.bottom-section {
    margin-top: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
/* Set a style for all buttons */
button {
    min-width: 100px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(11, 12, 12, 0.671);
    color: white;
    border: 1px solid white;
}
button:hover {
    opacity: 1;
    background-color: rgba(3, 3, 3, 0.349);
    color: rgba(7, 7, 7, 0.918);;
}
/*Full-width input fields*/ 
  input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(150, 148, 148, 0.562);
  outline: none;
  
}
button:hover {
  opacity:1;
}
/* Add padding to container elements */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.imgcontainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
label {
    color: rgba(3, 3, 3, 0.712);
}
b { 
    align-items: flex-start;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  min-width: 350px; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(117, 119, 119, 0.438);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: rgba(10, 10, 10, 0.548);
  cursor: pointer;
}
.clearfix { 
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.userIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    
}
.userIcon:hover{
    opacity: .4;
}
* {
    box-sizing: border-box;
  }
.nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.100);
    position: relative;
}
  
.nav > .nav-header {
    display: inline;
}
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    font-size: 14px;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    color: black;
}
  
.nav > .nav-links > a:hover {
    background-color: rgba(212, 208, 208, 0.562);
}
  
.nav > #nav-check {
    display: none;
}
  
@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      top: 0px;
    }
.nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(5, 5, 5, 0.562);
}
.nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid rgba(59, 58, 58, 0.644);
}
.nav > .nav-links {
      position: absolute;
      display: block;
      width: 30%;
      background-color: rgba(5, 5, 5, 0.562);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
}
.nav-links:hover{
    color: rgba(248, 247, 247, 0.952);
}
.nav > .nav-links > a {
    color: white;
      display: block;
      width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
/*position the logo in the middle of page*/
.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*create the slideshow container */
.slides-container{
    display: flex;
    justify-content: center;
}
#slides {
    position: relative;
    height: 250px;
    width: 250px;
    padding: 0px;
    margin: 20px;
    list-style-type: none;
    z-index: -1;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    display: flex;
    opacity: 1;
    z-index: 2;
}
/*give the slide container some images */
.slide:nth-of-type(1) {
    background-image: url('../assets/userIcon.png');
}
.slide:nth-of-type(2) {
    background-image: url('../assets/dollarLogo.png');
}
.slide:nth-of-type(3) {
    background-image: url('../assets/postsBW.png');
}
.slide:nth-of-type(4) {
    background-image: url('../assets/logO.png');
}
.img-para{
    height: 45px;
    width: 250px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: 250px;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bolder;
}
/*give the social icons column props*/
.col {
    display: flex;
    padding: 10px;
}
.ol-innertext {
    font-size: 10px;
    color: black;
}
.col a{
    align-items: center;
    margin: 5px;
    text-decoration: none;
    border-radius: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    font-size: 10px;
}
.col a:hover{
    opacity: .7;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3B5998;
    color: white;
}
.twitter {
    background-color: #55ACEE;
    color: white;
}
.google {
    background-color: #dd4b39;
    color: white;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.updates-card {
    display: flex;
    border: 2px solid blue;
}
.card-img {
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.posts-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.726);
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 200px;
}
.tips-card {
    background-color: rgba(153, 152, 152, 0.384);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tips-card__title{
    padding: 12px;
    background-color: black;
    text-align: center;
    color: white;
}
.card-title{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.card-para {
    padding-top: 5px;
}
.tips-card__window{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.tips-input{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: white;
    text-align: center;
}
#tips-window {
    list-style: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 20px;
    text-align: center;
}
#tips-window li {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.466);
}
#tips-window li:hover {
    background-color: rgba(75, 72, 72, 0.137);
    color: rgba(0, 0, 0, 0.466);
}